@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #333;
  color: honeydew;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  max-width: 700px;
}
.quote {
  color: lightcyan;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  max-width: 300px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.left {
  text-align: left;
}
.annotation {
  padding: 5px;
}
.activity {
  padding: 5px;
}
li {
  font-style: oblique;
  letter-spacing: 1px;
  padding: 1px;
}
a {
  color: bisque;
}
cite {
  padding-left: 30px;
  font: italic;
}
