@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #333;
  color: honeydew;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;

  text-align: left;
}
.quote q {
  color: lightgrey;
  font-style: italic;
  letter-spacing: 1px;
}
.annotation {
  font-weight: bold;
}
table {
  text-align: left;
}
.activity li {
  font-style: oblique;
  letter-spacing: 1px;
}
.link {
  color: bisque;
}
