@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: #C0C0C0;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 600px;
  margin: auto;
}

.info {
  margin-bottom: 20px;
}

.info-text p {
  color: #00008B;
  font-style: italic;
  font-weight: bold;
  text-indent: 25px;
  margin: 0;
}

.info-text h4 {
  margin-bottom: 10px;
}

.card {
  border-radius: 15px;
  padding: 10px 10px;
  margin-bottom: 10px;
  transition: all .2s;
}

.card:hover {
  opacity: .9;
  margin-left: 5px;
}

.card h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.bg-green {
  background: #8FBC8F;
}

.bg-blue {
  background: lightblue;
}

.bg-yellow {
  background: #F3E5AB;
}

.avatar {
  text-align: center;
}

.avatar img {
  max-width: 300px;
  box-shadow: 4px 4px 24px rgba(0, 0, 0, .5);
  border-radius: 50%;
}

a {
  color: darkviolet;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: darkblue;
}

a:visited {
  color: red;
}

.btn {
  font-family: inherit;
  background: darkslateblue;
  color: cornsilk;
  cursor: pointer;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  transition: all .2s;
}

.btn:hover {
  background: darkorchid;
  margin-left: 5px;
}
