@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: rgb(80, 80, 78);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #F0E68C;
  max-width: 800px;
  margin: auto;
}

a {
  color: beige;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  margin-bottom: 10px;
}

.card {
  background: #333;
  padding: 1px 15px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.card p {
  text-indent: 20px;
}

.card cite {
  padding-top: 10000px;
}

#up {
  text-align: center;
}
